body {margin:0;font-family:Arial}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
        border-right:1px solid #bbb;
    }
    
    li:last-child {
        border-right: none;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #aa218c;
    }
    
    .active {
        background-color: rgb(248, 162, 2);
    }

body {
    font-family: Arial;
    margin: 0;
}

  /* Header/Logo Title */
.header {
    padding: 20px;
    text-align: right;
    background: #1c1d1d;
    color: rgb(255, 251, 251);
    font-size: 30px;
    filter: alpha(opacity=30);  /*For IE8 and earlier */
    background-image: url('../img/2.png');
    background-repeat: no-repeat;
}

  /* Page Content */
.content {padding:20px;}

.gauche{
padding:20px;
margin :2%;
background-color: #aa218c;
padding-left:10px;
margin-top: 30px;
margin-left: 5px;
margin-right: 20px;
width: 500px;
box-shadow: 0 6px 10px 0 rgba(29, 28, 28, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
border-radius: 15px 50px;

}
.blocgauche{
display: block;
justify-content: space-between;


}
.bloc{
display: flex;
justify-content: space-between;
margin-top: 50px;

}
.milieu{

    border-radius: 15px 50px 30px;
    background: rgb(248, 162, 2);
    padding: 20px; 
    width: 150px;
    height: 200px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(29, 28, 28, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
    padding:30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border:rgb(8, 8, 8) 4px;
}
    
    td, th {
        border: 1px solid rgb(248, 162, 2);
        text-align: left;
        padding: 8px;
        color:#aa218c;
        background-color: black;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .btn{
color: rgb(8, 217, 224);

    }